@import "tailwindcss";

@theme {
  --font-sans: "Yekan", sans-serif;

  --color-primary: #ff510c;
  --color-lightGray: #fafafa;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/*Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

.backdrop-shadow {
  backdrop-filter: shadow(0, 0, 15px, 15px, #fff);
}
